<div>
    <h1>Model Number Database</h1></div>
<div>
<form action = 'mdb/mdbResults' method = 'POST'>
    Search Model Number
    <input type="text" name = "searchword"></input>
    <button type="submit">Search</button>
</form>